.max-lines-tn{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; 
   font-size: 14px;         
   line-height: 2em;        
   max-height: 50px; 
}


