
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainContainer ">
    <div class="block-title">
        <h2>Đăng nhập</h2>
    </div>
    <div style="max-width:360px;text-align:center;margin-left:auto;margin-right:auto;max-height:270px;padding-top:30px; padding-bottom:30px;padding-left:20px;padding-right:20px;">
        <input type="text" class="inptxtstyle" name="username" id="username" required placeholder="email">
        <input type="password" class="inptxtstyle" id="password" required pattern=".{6,}" name="password" placeholder="mật khẩu">
        <div>
            <a href="/Home/ForgotPassword" style="margin-top:10px;float:left;">
                <span style="color:#B77C17">Quên mật khẩu?</span>
            </a>
            <input type="submit" class="button2" id="btnLogin" style="float:right;margin-top:10px;margin-bottom:10px;" value="Đăng nhập" />
        </div>
        <div class="clear"></div>
        <a href="/Home/Registry" style="color:#B77C17;margin-top:20px;margin-bottom:23px;font-size:18px;font-weight:400; font-family: 'Roboto', sans-serif;"><u>Đăng ký mới</u></a>
    </div>
</div>

<div class="loading">Loading&#8230;</div>
<script type="text/javascript">
    function Login() {
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url: "/Home/Login",
            type: "post",
            data: {
                username: username,
                password: password
            },
            beforeSend: function () {
                $('.loading').show();
            },
            success: function (result) {
                if (result == 1) {
                    if (window.history.location != null)
                        window.location.href = window.history.location;
                    else
                        window.location.href = "userinfo";
                } else {
                      $("#password").focus();
                     OpenWarningNotification(result);
                }
            }
        });
    }
</script>

