
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="fcenter">
        <h2>Thanh toán chưa thành công ! Vui lòng thử lại.</h2>
    </div>
</div>