
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" style="min-height:600px">
    <div class="fcenter">
        <h2>Cám ơn quý khách đã đặt hàng, TinhGiot sẽ nhanh chóng xử lý và vận chuyển đơn hàng tới cho quý khách !</h2>
    </div>
</div>


